$black: #1a2e2c;
$neutral: #f4f1de;
$dark: #3d405b;
$primary-color: #8db9a4;
$primary-color-darker: #5db48a;
$primary-color-lighter: #b4d1c2;
$accent1: #ce4b27;
$accent1-darker: #af3716;
$accent2: #197594;
$accent2-darker: #124d61;
$accent2-lighter: #a9cbd7;
$grey1: #647372;
$grey2: #8a9c9b;
$grey3: #b3cac9;
$grey4: #ebf3f3;
