// btns

@mixin cta {
  background: $accent1;
  border-radius: $border-radius;
  font-weight: 200;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 2rem 0 0;
  padding: 8px 16px;
  border: 2px solid $accent1;
  transform: scale(1) translateY(0);
  display: inline-block;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

  &:hover {
    transform: scale(1.02) translateY(-4px);
    transition: transform 125ms cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.06), 0 8px 8px rgba(0, 0, 0, 0.05);
  }
  &:active {
    transform: scale(1) translateY(0px);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
    transition: transform 20ms cubic-bezier(0.22, 1, 0.36, 1);
  }
  @media only screen and (min-width: $lg-mobile) {
    font-size: 1.2rem;
    margin: 0 2rem 0 0;
  }
  @media only screen and (min-width: $tablet) {
    font-size: 1.2rem;
  }
}

@mixin cta--alt {
  @include cta;
  background: none;
  color: $accent1;
  &:hover {
    background: none;
  }
}

@mixin cta--small {
  border-radius: $border-radius;
  padding: 8px 24px;
  margin: 0 0 0 1rem;
}
